/* devise sign_in page*/
#new_user {
  h2 {
    margin-left: 160px;
  }
  .boolean {
    padding-top: 0px;
  }
  .btn {
    margin-left: 160px;
  }
}

/* admin login and password change form */
.edit_admin {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
}

/* about form */
.edit_about {
  float:left;
}