/* devise sign_in page*/
body {
  overflow-x: hidden;
}
#new_user {
  h2 {
      }
  .boolean {
    padding-top: 0px;
  }
  .btn {
      }
}

.nav {
  .btn-inverse {
    margin-top: 4px;
    margin-left: 50px;
  }
}

.nav-pills-text-sep {
  margin: 0 5px 0 50px;

  h4 {
    padding-top:8px;
  }
}

/* admin login and password change form */
.edit_admin {
  h2 {
      }
  .btn {
      }
}

.edit_mail {
  h2 {
      }
  .btn {
      }
}


.edit_articles {
  h2 {
      }
  .btn {
      }
  img {
      }
}

.content_projects {

  table {
    width: 1200px;
    border-collapse:separate;
    border-spacing:0 5px;
    table-layout:fixed;

    td {
      border-style: none;
      overflow: hidden;

      a.btn {
        border: none;
      }
    }

    tbody {
      background-color:#DFEBF5;
    }
  }
}

.edit_projects {
  h2 {
      }
  .btn {
      }
  img {
      }
}

.content_jobs {

  table {
    border-collapse:separate;
    border-spacing:0 5px;
    table-layout:fixed;

    td {
      border-style: none;
      overflow: hidden;

      a.btn {
        border: none;
      }
    }

    tbody {
      background-color:#DFEBF5;
    }
  }
}

.edit_jobs {
  h2 {
      }
  .btn {
      }
  img {
      }
}

.content_contacts {
}