/* devise sign_in page*/
#new_user {
  h2 {
    margin-left: 160px;
  }
  .boolean {
    padding-top: 0px;
  }
  .btn {
    margin-left: 160px;
  }
}

.messages {
  position: absolute;
  height: 60px;
  width: 100%;
  margin-top: -60px;
  margin-left: 160px;
  padding-top: 10px;

  .alert {
    float:left;
  }
}

.nav {
  .btn-inverse {
    margin-top: 5px;
    margin-left: 50px;
  }
}

.nav-pills-text-sep {
  margin: 0 5px 0 50px;

  h4 {
    padding-top:8px;
  }
}

/* admin login and password change form */
.edit_admin {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
}

.edit_mail {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
}

/* about content */
.content_about {
  margin-left: 160px;
}

/* about form */
.edit_about {
  float:left;
  margin-right: 20px;
  background-color:#DFEBF5;
  border-style: none;
  padding: 5px;

  input, textarea {
    border: none;
  }
}

.content_articles {
  margin-left: 160px;

  table {
    width: 1200px;
    border-collapse:separate; 
    border-spacing:0 5px;
    table-layout:fixed;

    td {
      border-style: none;
      overflow: hidden;

      a.btn {
        border: none;
      }
    }

    tbody {
      background-color:#DFEBF5;
    }
  }
}

.edit_articles {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
  img {
    margin-left: 160px;
  }
}

.content_projects {
  margin-left: 160px;

  table {
    width: 1200px;
    border-collapse:separate; 
    border-spacing:0 5px;
    table-layout:fixed;

    td {
      border-style: none;
      overflow: hidden;

      a.btn {
        border: none;
      }
    }

    tbody {
      background-color:#DFEBF5;
    }
  }
}

.edit_projects {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
  img {
    margin-left: 160px;
  }
}

.content_jobs {
  margin-left: 160px;

  table {
    width: 1200px;
    border-collapse:separate; 
    border-spacing:0 5px;
    table-layout:fixed;

    td {
      border-style: none;
      overflow: hidden;

      a.btn {
        border: none;
      }
    }

    tbody {
      background-color:#DFEBF5;
    }
  }
}

.edit_jobs {
  h2 {
    margin-left: 160px;
  }
  .btn {
    margin-left: 160px;
  }
  img {
    margin-left: 160px;
  }
}

.content_contacts {
  margin-left: 160px;
}