<%= active_nav_link 'Контакты' %>

<%= simple_form_for [:admin, @contact], url: admin_contacts_path(@contact), html: { class: 'form-horizontal' } do |f| %>
  <legend>Изменить контакты</legend>
  <fieldset>
    <%= f.input :description, label: 'Описание', input_html: { class: "span4", rows: 14 } %>
    <div class="form-actions">
      <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
    </div>
  </fieldset>
<% end %>
